<article class="banner">
    <section class="container">
        <div class="row align-items-center">
            <aside class="col-md-6 mb-3">
                <h6 class="h1 font_size__40 secondary_font fw-medium text-capitalize">
                    quick & reliable <span class="primary_color"> international & Local Shipping </span>  solution.
                </h6>
                <p class="secondary_font gray_color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </aside>
            <aside class="col-md-6 mb-3 text-center">
                <app-base-image-component path="svg/home-banner.svg" alt="image"></app-base-image-component>
            </aside>
        </div>
    </section>
</article>

<article class="py-5">
    <section class="container">
        <app-search-form></app-search-form>
    </section>
</article>

<article class="our_services secondary_font bg-body-secondary py-5">
    <section class="container py-5">
        <h6 class="underlined_title h2 fw-normal mb-5">
            <span class="fw-medium">Services</span> we offer
        </h6>

        <div class="row">
            <aside class="col-md-4 mb-3">
                <div>
                    <p-avatar 
                        icon="pi pi-truck" 
                        styleClass="shadow mb-3 secondary_color" shape="circle" size="large" [style]="{backgroundColor: 'var(--white)'}"/>
                    <h6 class="font_size__25 fw-normal secondary_color text-capitalize"> international Shipping </h6>
                    <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                </div>
            </aside>
            <aside class="col-md-4 mb-3">
                <div>
                    <p-avatar 
                        icon="pi pi-globe" 
                        styleClass="shadow mb-3 secondary_color" shape="circle" size="large" [style]="{backgroundColor: 'var(--white)'}"/>
                    <h6 class="font_size__25 fw-normal secondary_color text-capitalize"> Global Shipping </h6>
                    <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                </div>
            </aside>
            <aside class="col-md-4 mb-3">
                <div>
                    <p-avatar 
                        icon="pi pi-briefcase" 
                        styleClass="shadow mb-3 secondary_color" shape="circle" size="large" [style]="{backgroundColor: 'var(--white)'}"/>
                    <h6 class="font_size__25 fw-normal secondary_color text-capitalize"> Packaging solutions </h6>
                    <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                </div>
            </aside>
        </div>
    </section>
</article>

<article class="operating_mode secondary_font py-5">
    <section class="container py-5">
        <div class="text-center mb-5">
            <h6 class="d-inline-block underlined_title h2 fw-normal">
                <span class="fw-medium">Operation</span> Mode
            </h6>
        </div>

        <div class="col-md-10 mx-auto">
            <div class="row align-items-center">
                <aside class="col-md-6 mb-3">
                    <div>
                        <div class="d-flex align-items-center mb-3">
                            <p-avatar 
                            styleClass="text-white font_size__25 p-3 primary_font" size="large" shape="circle" [style]="{backgroundColor: 'var(--secondaryColor)'}">1</p-avatar>
                            <h6 class="fw-bold primary_color font_size__25 ms-3 mb-0"> Create Deal </h6>
                            
                        </div>
                        <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                    </div>
                </aside>
                <aside class="col-md-6 mb-3">
                    <app-base-image-component path="svg/create-deal.svg" alt="img"/>
                </aside>
                <aside class="col-md-12 mb-3 text-center">
                    <app-base-image-component path="svg/stager-dash-curve.svg" alt="img"/>
                </aside>
                <aside class="col-md-6 mb-3">
                    <app-base-image-component path="svg/communicate.svg" alt="img"/>
                </aside>
                <aside class="col-md-6 mb-3">
                    <div>
                        <div class="d-flex align-items-center mb-3">
                            <p-avatar 
                            styleClass="text-white font_size__25 p-3 primary_font" size="large" shape="circle" [style]="{backgroundColor: 'var(--secondaryColor)'}">2</p-avatar>
                            <h6 class="fw-bold primary_color font_size__25 ms-3 mb-0"> Communicate </h6>
                            
                        </div>
                        <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                    </div>
                </aside>
                <aside class="col-md-12 mb-3 text-center">
                    <app-base-image-component classes="rotate_y__180" path="svg/stager-dash-curve.svg" alt="img"/>
                </aside>
                <aside class="col-md-6 mb-3">
                    <div>
                        <div class="d-flex align-items-center mb-3">
                            <p-avatar 
                            styleClass="text-white font_size__25 p-3 primary_font" size="large" shape="circle" [style]="{backgroundColor: 'var(--secondaryColor)'}">3</p-avatar>
                            <h6 class="fw-bold primary_color font_size__25 ms-3 mb-0"> Ship </h6>
                            
                        </div>
                        <p class="gray_color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                    </div>
                </aside>
                <aside class="col-md-6 mb-3">
                    <app-base-image-component path="svg/ship.svg" alt="img"/>
                </aside>
            </div>
        </div>
    </section>
</article>

<article class="map secondary_font bg-body-secondary py-5">
    <div class="text-center">
        <app-base-image-component path="svg/map.svg" alt="map"/>
        <div>
            <app-base-link-component classes="btn btn-outline-secondary rounded-3 py-3 px-4 mx-1" path="">Customer Support</app-base-link-component>
            <app-base-link-component classes="btn btn-secondary rounded-3 py-3 px-4 mx-1" path="">Upgrade</app-base-link-component>
        </div>
    </div>
</article>