@import 'styles/core/variables';
.from_to__circles{
    $color: var(--bs-gray-400);
    height: 2px;
    width: 100%;
    background-color: $color;
    position: relative;
    &::before{
        @include absolute-position(-4px, 0, 10px, 10px);
        border-radius: 50%;
        background-color: $color;
    }
    &::after{
        @include absolute-position(-4px, calc(100% - 5px), 10px, 10px);
        border-radius: 50%;
        background-color: $color;
    }
}