/* You can add global styles to this file, and also import other style files */


@import 'styles/core/variables';
// override bootstrap colors
// $primary: $primaryColor;
// $secondary: $secondaryColor;

@import 'bootstrap/dist/css/bootstrap.min.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'styles/core/fonts';
@import 'styles/core/global';
@import 'styles/core/responsive';


:root{
    --primary: #{$primaryColor};
    --bs-blue: #{$primaryColor};
    --primaryColor: #{$primaryColor};
    --secondaryColor: #{$secondaryColor};
    --white: #{$white};
    --black: #{$black};
    --grey: #{$grey};
    --primaryFont: #{$primaryFont};
    --secondaryFont: #{$secondaryFont};
    --transition: #{$transition};
    --primaryColorFilter: #{$primaryColorFilter};
    --whiteColorFilter: #{$whiteColorFilter};
    --greyColorFilter: #{$greyColorFilter};

    --breakpoint-sm: #{$breakpoint-sm};
    --breakpoint-md: #{$breakpoint-md};
    --breakpoint-lg: #{$breakpoint-lg};
    --breakpoint-xl: #{$breakpoint-xl};
    --breakpoint-xxl: #{$breakpoint-xxl};

}
